# Module 3 Sequence Iteration

##### Iterate through Lists using
# for in

In [1]:
# [ ] review and run example
cities = ["New York", "Shanghai", "Munich", "Tokyo", "Dubai", "Mexico City", "São Paulo", "Hyderabad"]

for city in cities:
    print(city)

New York
Shanghai
Munich
Tokyo
Dubai
Mexico City
São Paulo
Hyderabad

In [2]:
# [ ] review and run example
sales = [6, 8, 9, 11, 12, 17, 19, 20, 22]
total = 0

for sale in sales:
    total += sale
    
print("total sales:", total)

total sales: 124

In [9]:
# [ ] review and run example 
sales = [6, 8, 9, 11, 12, 17, 19, 20, 22]
total = 0

for dollars in sales:
    total += dollars
    
print("total sales:", total)

total sales: 124

# Task 1

In [30]:
# [ ] create a list of 4 to 6 strings: birds
birds = ["sparrow","crow","hen","peacock","parrot","vulture","swan"]
# print each bird in the list
for bird in birds:
    print(bird)

print("")
# [ ]  create a list of 7 integers: player_points
player_points = [9,8,5,6,4,7,6]
# [ ] print double the points for each point value

for point in player_points:
    point = point*2
    print(point)
print("")
# [ ] create long_string by concatenating the items in the "birds" list previously created
# print long_string - make sure to put a space betweeen the bird names

long_string = ""
for bird in birds:
    long_string += bird+" "
print(long_string)

sparrow
crow
hen
peacock
parrot
vulture
swan

18
16
10
12
8
14
12

sparrow crow hen peacock parrot vulture swan

# Sort and Filter

In [31]:
# [ ] review and run example of sorting into strings to display
foot_bones = ["calcaneus", "talus", "cuboid", "navicular", "lateral cuneiform", 
            "intermediate cuneiform", "medial cuneiform"]
longer_names = ""
shorter_names = ""

for bone_name in foot_bones:
    if len(bone_name) < 10:
        shorter_names += "\n" + bone_name
    else:
        longer_names += "\n" + bone_name

print(shorter_names)
print(longer_names)

calcaneus
talus
cuboid
navicular

lateral cuneiform
intermediate cuneiform
medial cuneiform

In [32]:
# [ ] review and run example of sorting into lists
foot_bones = ["calcaneus", "talus", "cuboid", "navicular", "lateral cuneiform", 
            "intermediate cuneiform", "medial cuneiform"]
longer_names = []
shorter_names = []

for bone_name in foot_bones:
    if len(bone_name) < 10:
        shorter_names.append(bone_name)
    else:
        longer_names.append(bone_name)

print(shorter_names)
print(longer_names)

['calcaneus', 'talus', 'cuboid', 'navicular']
['lateral cuneiform', 'intermediate cuneiform', 'medial cuneiform']

# Task 2
### sort and filter

In [39]:
# [ ] Using cities from the example above iterate throught the list using "for"/"in"
cities = ["Mumbai","Pune","Bangalore","Hyderabad","Chennai","Mysore"]
for city in cities:
    print(city)
print()

# [ ] Print only cities starting with "m"
for city in cities:
    if city.lower().startswith("m"):
        print(city)
print()

# [ ] Using cities,iterate through the list using "for"/"in"
# [ ] sort into lists with "A" in the city name and without "A" in the name: a_city & no_a_city

cities = ["New York", "Shanghai", "Munich", "Tokyo", "Dubai", "Mexico City", "São Paulo", "Hyderabad"]
a_city = []
no_a_city = []
for city in cities:
    if "a" in city.lower():
        a_city.append(city)
    else:
        no_a_city.append(city)
print("a_city:",a_city)
print("no_a_city:",no_a_city)

Mumbai
Pune
Bangalore
Hyderabad
Chennai
Mysore

Mumbai
Mysore

a_city: ['Shanghai', 'Dubai', 'São Paulo', 'Hyderabad']
no_a_city: ['New York', 'Munich', 'Tokyo', 'Mexico City']

# Count and Search

In [41]:
# [ ] review and run example
# iterates the "cities" list, count & sum letter "a" in each city name

cities = ["New York", "Shanghai", "Munich", "Tokyo", "Dubai", "Mexico City", "São Paulo", "Hyderabad"]
search_letter = "a"
total = 0

for city_name in cities:
    total += city_name.lower().count(search_letter)

print("The total # of \"" + search_letter + "\" found in the list is", total)

The total # of "a" found in the list is 6

# search function

In [42]:
# [ ] review and run example
# city_search function has a default list of cities to search
def city_search(search_item, cities = ["New York", "Shanghai", "Munich", "Tokyo"] ):
    for city in cities:
        if city.lower() == search_item.lower():
            return True
        else:
            # go to the next item
            pass
    # no more items in list
    return False

# a list of cities
visited_cities = ["New York", "Shanghai", "Munich", "Tokyo", "Dubai", "Mexico City", "São Paulo", "Hyderabad"]

search = input("enter a city visited: ")

# Search the default city list
print(search, "in default cities is", city_search(search))

# search the list visited_cities using 2nd argument
print(search, "in visited_cites list is", city_search(search,visited_cities))

enter a city visited: Munich
Munich in default cities is True
Munich in visited_cites list is True

# Task 3
### Program: Paint Stock
##### check a list for a paint color request and print status of color "found"/"not found"

- create list, paint_colors, with 5+ colors
- get user input of string:color_request
- iterate through each color in paint_colors to check for a match with color_request

In [45]:
paint_colors = ["red","yellow","orange","purple","pink","white","blue","golden","silver"]
color_request = input("Enter color of your choice: ")
for color in paint_colors:
    if color == color_request:
        print(color_request,"found in",paint_colors)
    else:
        pass
print(color_request,"not found in",paint_colors)

Enter color of your choice: grey
grey not found in ['red', 'yellow', 'orange', 'purple', 'pink', 'white', 'blue', 'golden', 'silver']

# Task 4
### Program: Foot Bones Quiz
##### Create a function that will iterate through foot_bones looking for a match of a string argument

- Call the function 2 times with the name of a footbone
- print immediate feedback for each answer (correct - incorrect)
- print the total # of foot_bones identified

##### BONUS: remove correct response item from list if correct so user cannot answer same item twice

In [3]:
# [ ] Complete Foot Bones Quiz
foot_bones = ["calcaneus", "talus", "cuboid", "navicular", "lateral cuneiform",
             "intermediate cuneiform", "medial cuneiform"]

def guess(guess_bone):
    for bone in foot_bones:
        total = 0
        if bone == guess_bone:
            total += 1
            print("correct")
            return total
        else:
            print("Incorrect")
        
a = guess(input("Guess the bone: "))
b = guess(input("Guess the bone: "))
print(a)
print(b)

# [ ] bonus version

Guess the bone: cuboid
Incorrect
Incorrect
correct
Guess the bone: talus
Incorrect
correct
1
1

In [4]:
numbers = [1,2,3,4,5]
for int in numbers:
    print(int)

1
2
3
4
5

# Module 3 Section 2: Range Iteration

### range(stop)

In [5]:
# [ ] review and run example
for count in range(10):
  print(count)

0
1
2
3
4
5
6
7
8
9

In [6]:
# review and run example
digits = range(10)
print("digits =", list(digits), "\n")

for count in digits:
    print(count)

digits = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

0
1
2
3
4
5
6
7
8
9

In [7]:
# [ ] review and run example
sub_total = 0
for item in range(10):
    sub_total += item
    print("sub_total:", sub_total)
print("Total =", sub_total)

sub_total: 0
sub_total: 1
sub_total: 3
sub_total: 6
sub_total: 10
sub_total: 15
sub_total: 21
sub_total: 28
sub_total: 36
sub_total: 45
Total = 45

In [46]:
# [ ] review and run example
# print the first half of a spelling list
spell_list = ["Tuesday", "Wednesday", "February", "November", "Annual", "Calendar", "Solstice"]

# find length of 1st half of list (must be int)
half_1 = round(len(spell_list)/2)

for word in range(half_1):
    print(spell_list[word])

Tuesday
Wednesday
February
November

# Task 1
### range(stop)

In [45]:
# [ ] for x = 6, use range(x) to print the numbers 1 through 6
x = 6
for y in range(x):
    print(y)

# [ ] using range(x) multiply the numbers 1 through 7
# 1x2x3x4x5x6x7 = 5040
multiply = 1
for y in range(1,8):
    multiply *= y
print(multiply)

#Use range(stop) to print the second half of spell_list below

# [ ] print the second half of a spelling list using a range(stop) loop to iterate the list
spell_list = ["Wednesday", "Tuesday", "February", "November", "Annual", "Calendar", "Solstice"]
for y in range((round(len(spell_list)/2)),len(spell_list)):
    print(spell_list[y])

0
1
2
3
4
5
5040
Annual
Calendar
Solstice

# range(start,stop)

In [47]:
# [ ] review and run example
for count in range(5,10):
  print(count)

5
6
7
8
9

In [48]:
# [ ] review and run example
sub_total = 0
temp = 0
for item in range(5, 11):
    temp = sub_total
    sub_total += item
    print("sub_total:", temp, "+", item, "=",sub_total)
print("Total =", sub_total)

sub_total: 0 + 5 = 5
sub_total: 5 + 6 = 11
sub_total: 11 + 7 = 18
sub_total: 18 + 8 = 26
sub_total: 26 + 9 = 35
sub_total: 35 + 10 = 45
Total = 45

In [50]:
# [ ] review and run example

spell_list = ["Tuesday", "Wednesday", "February", "November", "Annual", "Calendar", "Solstice"]

# find length list 
spell_len = len(spell_list)
# find lenght of 1st half (aka - start of 2nd half)
half_1 = round(spell_len/2)

# print 2nd half list
for word in range(half_1,spell_len):
    print(spell_list[word])

Annual
Calendar
Solstice

# Task 2
### range(start,stop)

In [59]:
# [ ] using range(start,stop), .append() the numbers 5 to 15 to the list: five_fifteen
# [ ] print list five_fifteen
five_fifteen = []
for x in range(5,16):
    five_fifteen.append(x)
print(five_fifteen)

# [ ] using range(start,stop) - print the 3rd, 4th and 5th words in spell_list
# output should include "February", "November", "Annual"
spell_list = ["Tuesday", "Wednesday", "February", "November", "Annual", "Calendar", "Solstice"]
for x in range(2,5):
    print(spell_list[x])

# [ ] using code find the index of "Annual" in spell_list
# [ ] using range, print the spell_list including "Annual" to end of list
spell_list = ["Tuesday", "Wednesday", "February", "November", "Annual", "Calendar", "Solstice"]
for x in range(len(spell_list)):
    if spell_list[x] == "Annual":
        print(x)

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
February
November
Annual
4

# range(start,stop,step)

In [60]:
# [ ] review and run example
for count in range(25,101,25):
  print(count)

25
50
75
100

In [61]:
# [ ] review and run example
sub_total = 0
temp = 0
for item in range(25,46,5):
    temp = sub_total
    sub_total += item
    print("sub_total:", temp, "+", item, "=",sub_total)
print("Total =", sub_total)

sub_total: 0 + 25 = 25
sub_total: 25 + 30 = 55
sub_total: 55 + 35 = 90
sub_total: 90 + 40 = 130
sub_total: 130 + 45 = 175
Total = 175

In [62]:
# [ ] review and run example printing the 1st and then every other word in spell_list
spell_list = ["Tuesday", "Wednesday", "February", "November", "Annual", "Calendar", "Solstice"]

for index in range(0,len(spell_list),2):
    print(spell_list[index])

Tuesday
February
Annual
Solstice

In [63]:
# [ ] review and run example casting range to list
odd_list = list(range(1,20,2))
print(odd_list)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

# Task 3
### range(start,stop,step)

In [74]:
# [ ] print numbers 10 to 20 by 2's using range
for x in range (1,10,2):
    print(x)

print()

# [ ] print numbers 20 to 10 using range (need to countdown)
# Hint: start at 20
for x in range(20,10,-1):
    print(x)

print()
# [ ] print first and every third word in spell_list
spell_list = ["Tuesday", "Wednesday", "February", "November", "Annual", "Calendar", "Solstice"]
for x in range(0,len(spell_list),3):
    print(spell_list[x])

1
3
5
7
9

20
19
18
17
16
15
14
13
12
11

Tuesday
November
Solstice

# Task 4
### Program: List of letters
- Input a word string (word)
- find the string length of word
- use range() to iterate through each letter in word (can use to range loops)
- Save odd and even letters from the word as lists
```
odd_letters: starting at index 0,2,...
even_letters: starting at index 1,3,...
```
- print odd and even lists

In [80]:
word = input("Enter a word: ")
length = len(word)
odd_letters = []
even_letters = []
for x in range(0,length,2):
    odd_letters.append(word[x])
for x in range(1,length,2):
    even_letters.append(word[x])
print("Odd list:",odd_letters)
print("Even list:",even_letters)

Enter a word: prachi
Odd list: ['p', 'a', 'h']
Even list: ['r', 'c', 'i']

# Task 5: fix the error

In [82]:
# [ ] fix the error printing odd numbers 1 - 9
for num in range[1,10,2]:
    print(num)

1
3
5
7
9

In [83]:
# [ ] fix the error printing odd numbers 1 - 9
for num in range(1,10,2):
    print(num)

1
3
5
7
9

# Module 3 Section 3: extend, reverse, sort methods

### Combine Lists

In [84]:
# [ ] review and run example
visited_cities = ["New York", "Shanghai", "Munich", "Toyko", "Dubai", "Mexico City", "São Paulo", "Hyderabad"]
wish_cities = ["Reykjavík", "Moscow", "Beijing", "Lamu"]

# .extend() 
# extending visited_cities list (IN PLACE) by concatenating wish_cities
visited_cities.extend(wish_cities)
print("ALL CITIES",visited_cities)

ALL CITIES ['New York', 'Shanghai', 'Munich', 'Toyko', 'Dubai', 'Mexico City', 'São Paulo', 'Hyderabad', 'Reykjavík', 'Moscow', 'Beijing', 'Lamu']

In [85]:
# [ ] review and run example
visited_cities = ["New York", "Shanghai", "Munich", "Toyko", "Dubai", "Mexico City", "São Paulo", "Hyderabad"]
wish_cities = ["Reykjavík", "Moscow", "Beijing", "Lamu"]

# (+) Addition operator for lists creates a (NEW) combined List
all_cities = visited_cities + wish_cities

print("ALL CITIES")
for city in all_cities:
    print(city)

ALL CITIES
New York
Shanghai
Munich
Toyko
Dubai
Mexico City
São Paulo
Hyderabad
Reykjavík
Moscow
Beijing
Lamu

In [86]:
# [ ] review and run example
team_a = [0,2,2,2,4,4,4,5,6,6,6]
team_b = [0,0,0,1,1,2,3,3,3,6,8]
print("Team A:", team_a, "\nTeam B:",team_b)

# (+) Addition operator 
team_totals = team_a + team_b
print("Team Totals", team_totals)
# [ ] review and run example after running cell above
# .extend() 
team_a.extend(team_b)
print("Team_a extended", team_a)

Team A: [0, 2, 2, 2, 4, 4, 4, 5, 6, 6, 6]
Team B: [0, 0, 0, 1, 1, 2, 3, 3, 3, 6, 8]
Team Totals [0, 2, 2, 2, 4, 4, 4, 5, 6, 6, 6, 0, 0, 0, 1, 1, 2, 3, 3, 3, 6, 8]
Team_a extended [0, 2, 2, 2, 4, 4, 4, 5, 6, 6, 6, 0, 0, 0, 1, 1, 2, 3, 3, 3, 6, 8]

# Task 1
### combine lists

In [88]:
# [ ] extend the list common_birds with list birds_seen which you must create
common_birds = ["chicken", "blue jay", "crow", "pigeon"]
birds_seen = ["parrot","hen","peacock","swan"]
common_birds.extend(birds_seen)
print(common_birds)

# [ ] Create 2 lists zero_nine and ten_onehundred that contain 1-9, and 10 - 100 by 10's.
zero_nine = []
ten_onehundred = []
for x in range(1,10):
    zero_nine.append(x)
for x in range(10,101,10):
    ten_onehundred.append(x)

# [ ] use list addition to concatenate the lists into all_num and print
all_num = zero_nine + ten_onehundred
print(all_num)

['chicken', 'blue jay', 'crow', 'pigeon', 'parrot', 'hen', 'peacock', 'swan']
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

# .reverse() : reverse a list in place

In [89]:
# [ ] review and run example
cities_1 = ["Dubai", "Mexico City", "São Paulo", "Hyderabad"]

print("regular", cities_1)
cities_1.reverse()
print("reversed", cities_1)

regular ['Dubai', 'Mexico City', 'São Paulo', 'Hyderabad']
reversed ['Hyderabad', 'São Paulo', 'Mexico City', 'Dubai']

In [91]:
# [ ] review and run example
all_num = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
print("regular list",all_num, "\n")
all_num.reverse()
print("reverse list",all_num, "\n")
num_len = len(all_num)

print("Three Multiple")
for num in all_num:
    if num/3 == round(num/3):
        print(num)
    else:
        pass

regular list [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

reverse list [100, 90, 80, 70, 60, 50, 40, 30, 20, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

Three Multiple
90
60
30
9
6
3
0

In [92]:
# [ ] review and run example
# create a list of  numbers by casting a range 
count_list = list(range(21))
print("before list", count_list)

# and reverse
count_list.reverse()
print("after list", count_list)

before list [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
after list [20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

# Task 2
### .reverse()

In [106]:
# [ ] create and  print a list of multiples of 5 from 5 to 100
multiples_of_5 = []
for x in range(5,101,5):
    multiples_of_5.append(x)
print("Multiples of 5:",multiples_of_5)

# { ] reverse the list and print
multiples_of_5.reverse()
print("Reversed List:",multiples_of_5)

# [ ] Create two lists: fours & more_fours containing multiples of four from 4 to 44
# [ ] combine and print so that the output is mirrored [44, 40,...8, 4, 4, 8, ...40, 44]
fours = []
more_fours = []
for x in range(4,45,4):
    fours.append(x)
for x in range(44,3,-4):
    more_fours.append(x)
    
print(fours+more_fours)

Multiples of 5: [5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]
Reversed List: [100, 95, 90, 85, 80, 75, 70, 65, 60, 55, 50, 45, 40, 35, 30, 25, 20, 15, 10, 5]
[4, 8, 12, 16, 20, 24, 28, 32, 36, 40, 44, 44, 40, 36, 32, 28, 24, 20, 16, 12, 8, 4]

# .sort() and sorted()

In [107]:
# [ ] review and run example
quiz_scores = [20, 19, 20, 15, 20, 20, 20, 18, 18, 18, 19]

# use .sort()
quiz_scores.sort()

print("quiz_scores:", quiz_scores)

quiz_scores: [15, 18, 18, 18, 19, 19, 20, 20, 20, 20, 20]

In [108]:
# [ ] review and run example
game_points = [3, 14, 0, 8, 21, 1, 3, 8]

# use sorted()
sorted_points = sorted(game_points)

print("game_points:", game_points)
print("sorted_points:", sorted_points)

game_points: [3, 14, 0, 8, 21, 1, 3, 8]
sorted_points: [0, 1, 3, 3, 8, 8, 14, 21]

In [109]:
# [ ] review and run example
cities_1 = ["Dubai", "Mexico City", "São Paulo", "Hyderabad"]

print("Unsorted", cities_1)
cities_1.sort()
print("Sorted", cities_1)

Unsorted ['Dubai', 'Mexico City', 'São Paulo', 'Hyderabad']
Sorted ['Dubai', 'Hyderabad', 'Mexico City', 'São Paulo']

# Task 3
### .sort() & sorted()

In [123]:
# [ ] print cites from visited_cities list in alphbetical order using .sort()
# [ ] only print cities that names start "Q" or earlier
visited_cities = ["New York", "Shanghai", "Munich", "Toyko", "Dubai", "Mexico City", "São Paulo", "Hyderabad"]
visited_cities.sort()
print(visited_cities)
for city in visited_cities:
    if city.upper() <= "Q":
        print(city)
# [ ] make a sorted copy (sorted_cities) of visited_cities list
sorted_cities = sorted(visited_cities)
print(sorted_cities)
# [ ] remove city names 5 characters or less from sorted_cities 
visited_cities = ["New York", "Shanghai", "Munich", "Toyko", "Dubai", "Mexico City", "São Paulo", "Hyderabad"]
sorted_cities = sorted(visited_cities)
for city in sorted_cities:
    if len(city) <= 5:
        sorted_cities.remove(city)
# [ ] print visitied cites and sorted cities
print("Visited Cities:\n",visited_cities)
print("Sorted cities:\n",sorted_cities)

['Dubai', 'Hyderabad', 'Mexico City', 'Munich', 'New York', 'Shanghai', 'São Paulo', 'Toyko']
Dubai
Hyderabad
Mexico City
Munich
New York
['Dubai', 'Hyderabad', 'Mexico City', 'Munich', 'New York', 'Shanghai', 'São Paulo', 'Toyko']
Visited Cities:
 ['New York', 'Shanghai', 'Munich', 'Toyko', 'Dubai', 'Mexico City', 'São Paulo', 'Hyderabad']
Sorted cities:
 ['Hyderabad', 'Mexico City', 'Munich', 'New York', 'Shanghai', 'São Paulo']

# Task 4
### Program: Merge & Sort Animals
- Create a program that
- takes user to build a list: add_animals
- merges add_animals with existing list: animals

#### provides a sorted list to view in alpha or reverse alpha order
#### step 1 get user input to build add_animals list

In [129]:
add_animals = input("Enter an animal name: ")
animals = ["cat","dog"]
while add_animals.lower() != "quit":
    animals.append(add_animals)
    add_animals = input("Enter an animal name: ")
print(animals)
print("Sorted List:",sorted(animals))

Enter an animal name: camel
Enter an animal name: tiger
Enter an animal name: ox
Enter an animal name: cow
Enter an animal name: goat
Enter an animal name: horse
Enter an animal name: wolf
Enter an animal name:
Enter an animal name: quit
['cat', 'dog', 'camel', 'tiger', 'ox', 'cow', 'goat', 'horse', 'wolf', '']
Sorted List: ['', 'camel', 'cat', 'cow', 'dog', 'goat', 'horse', 'ox', 'tiger', 'wolf']

# Module 3 Section 4: between strings & lists

### Converting a string to a list with .split()

In [131]:
# [ ] review and run example
tip = "Notebooks can be exported as .pdf"
tip_words = tip.split()

print("STRING:", tip)
print("LIST:", tip_words, "\n")

for word in tip_words:
    print(word)

STRING: Notebooks can be exported as .pdf
LIST: ['Notebooks', 'can', 'be', 'exported', 'as', '.pdf']

Notebooks
can
be
exported
as
.pdf

In [132]:
# [ ] review and run example
rhyme = "London bridge is falling down"

rhyme_words = rhyme.split()

rhyme_words.reverse()

for word in rhyme_words:
    print(word)

down
falling
is
bridge
London

# Task 1
### using .split()

In [139]:
# [ ] split the string(rhyme) into a list of words (rhyme_words)
# [ ] print each word on it's own line
rhyme = 'Jack and Jill went up the hill To fetch a pail of water' 
rhyme_words = rhyme.split()
for words in rhyme_words:
    print(words)
    
# [ ] split code_tip into a list and print the first and every other word
code_tip = "Python uses spaces for indentation"
code_list = code_tip.split()
print(code_list)
new_list = []
for x in code_list[0::2]:
    new_list.append(x)
print(new_list)

Jack
and
Jill
went
up
the
hill
To
fetch
a
pail
of
water
['Python', 'uses', 'spaces', 'for', 'indentation']
['Python', 'spaces', 'indentation']

# split

In [140]:
# [ ] review and run example
code_tip = "Python-uses-spaces-for-indentation"
tip_words = code_tip.split('-')

print(tip_words)

['Python', 'uses', 'spaces', 'for', 'indentation']

In [141]:
# [ ] review and run example - study the list print output
code_tip = "Python uses spaces for indentation"

# split on "a"
tip_words = code_tip.split('a')
print(code_tip)
print(tip_words)

Python uses spaces for indentation
['Python uses sp', 'ces for indent', 'tion']

In [142]:
# [ ] review and run example
# triple quotes ''' ''' preserve formatting such as spaces and line breaks
big_quote = """Jack and Jill went up the hill
To fetch a pail of water
Jack fell down and broke his crown
And Jill came tumbling after"""

# split on line breaks (\n)
quote_lines = big_quote.split('\n')
print(quote_lines, '\n')

# print the list in reverse with index slicing
for line in quote_lines[::-1]:
    print(line)

['Jack and Jill went up the hill', 'To fetch a pail of water', 'Jack fell down and broke his crown', 'And Jill came tumbling after']

And Jill came tumbling after
Jack fell down and broke his crown
To fetch a pail of water
Jack and Jill went up the hill

# Task 2
### .split()

In [145]:
# [ ] split poem into a list of phrases by splitting on "*" a
# [ ] print each phrase on a new line in title case
poem = "Write code frequently*Save code frequently*Comment code frequently*Study code frequently*"
phrases = poem.split("*")
for phrase in phrases:
    print(phrase.title())

Write Code Frequently
Save Code Frequently
Comment Code Frequently
Study Code Frequently

### .join() method

In [1]:
# [ ] review and run example
tip_words = ['Notebooks', 'can', 'be', 'exported', 'as', '.pdf'] 

# join tip_words objects with spaces
print(" ".join(tip_words))

Notebooks can be exported as .pdf

In [2]:
# [ ] review and run example
no_space = ""
letters = ["P", "y", "t", "h", "o", "n"]
print(no_space.join(letters))

Python

In [3]:
# [ ] review and run example - .join() iterates through sequences
dash = "-"
space = " "
word = "Iteration"
ellipises = "..."

dash_join = dash.join(word)
print(dash_join)
print(space.join(word))
print(ellipises.join(word))

I-t-e-r-a-t-i-o-n
I t e r a t i o n
I...t...e...r...a...t...i...o...n

# Task 3
### .join()

In [11]:
# [ ] .join() letters list objects with an Asterisk: "*"
letters = ["A", "s", "t", "e", "r", "i", "s", "k"]
joined_words = ""

joined_words = joined_words.join(letters)
print(joined_words)

Asterisk

# Task 4
### Program: Choose the separator
- get user input on what to use to join words (" ", *, -, etc...) - store in variable: separator
- join pharse_words with the separator and printf

In [12]:
# [ ] complete Choose the separator

separator = input("Enter a separator("",*,-): ")
phrase_words = ['Jack', 'and', 'Jill', 'went', 'up', 'the', 'hill', 'To', 'fetch', 'a', 'pail', 'of', 'water']
phrase = separator.join(phrase_words)
print(phrase)

Enter a separator(,*,-): -
Jack-and-Jill-went-up-the-hill-To-fetch-a-pail-of-water

# More Python string tools (tricks?)

In [13]:
# [ ] review and run example
hello_letters = list("Hello")
print(hello_letters)

['H', 'e', 'l', 'l', 'o']

In [15]:
# [ ] review and run example
# cast sting to list
word_letters = list("concatenates")
print(word_letters)
# .join() concatenates the list
# print on same line setting the end character
print('~'.join(word_letters))

['c', 'o', 'n', 'c', 'a', 't', 'e', 'n', 'a', 't', 'e', 's']
c~o~n~c~a~t~e~n~a~t~e~s

In [16]:
# [ ] review and run example
print("Hello ", end = '')
print("world")

Hello world

In [17]:
# [ ] review and run example
# This  is the default print end
print("Hello World!", end="\n")
print('still something to learn about print()')

Hello World!
still something to learn about print()

In [18]:
# [ ] review and run example
# end inserts any valid str character: A-z, 0-9,!,@,*,\n,\t or ''(empty string)...
for letter in "Concatenation":
    print(letter, end='*')

C*o*n*c*a*t*e*n*a*t*i*o*n*

# Task 5
### end=" " configuration in printing
#### print('The String', end='')

In [20]:
# [ ] use 3 print() statements to output text to one line 
# [ ] separate the lines by using "- " (dash space)
print("Hi ",end="-")
print("My name is ",end="-")
print("Prachi")

Hi -My name is -Prachi

# Task 6
### cast: str to list
##### Msg_characters = list("Always test your code")

In [23]:
# [ ] create a string (fact) of 20 or more characters and cast to a list (fact_letters)
# [ ] iterate fact, printing each char on one line, except for spaces print a new line

fact = "abcdefghijklmnopqrstuvwxyz"
fact_letters = list(fact)

for char in fact_letters:
    print(char,end=" ")

a b c d e f g h i j k l m n o p q r s t u v w x y z

# Task 7
## Program: add the digits
- create a 20 digit string, and cast to a list
- then add all the digits as integers
- print the equation and answer

#### Hint: use cast to sum the digits, and .join() to create the equation (1+2+3+...)

In [42]:
digit_string = "11121314151617181920"
digit_list = list(digit_string)
sum = 0
for digit in digit_list:
    if digit == digit_list[-1]:
        print(digit,end=" ")
    else:
        print(digit,end="+")
    sum += int(digit)
print("=",sum)

1+1+1+2+1+3+1+4+1+5+1+6+1+7+1+8+1+9+2+0 = 56

# Practice

# Task 1
### list iteration: for in
#### for item in list:

In [52]:
# [ ] print out the "physical states of matter" (matter_states) in 4 sentences using list iteration
# each sentence should be of the format: "Solid - is state of matter #1" 
matter_states = ['solid', 'liquid', 'gas', 'plasma']
print("Physical states of matter:")
for matter in matter_states:
    print(matter,"is state of matter")

# [ ] iterate the list (birds) to see any bird names start with "c" and remove that item from the list
# print the birds list before and after removals
birds = ["turkey", "hawk", "chicken", "dove", "crow"]
print("\nBirds list before:\n",birds)
for bird in birds:
    if bird.lower().startswith("c"):
        birds.remove(bird)
print("Birds list after:\n",birds)

# the team makes 1pt, 2pt or 3pt baskets
# [ ] print the occurrence of each type of basket(1pt, 2pt, 3pt) & total points using the list baskets
baskets = [2,2,2,1,2,1,3,3,1,2,2,2,2,1,3]
occurence_of_1 = 0
occurence_of_2 = 0
occurence_of_3 = 0
total = 0
for pt in baskets:
    if pt == 1:
        occurence_of_1 += 1
    elif pt == 2:
        occurence_of_2 += 1
    else:
        occurence_of_3 += 1
    total += pt
print("\nOccurence of 1:",occurence_of_1,"times")
print("Occurence of 2:",occurence_of_2,"times")
print("Occurence of 3:",occurence_of_3,"times")
print("Total points in basket:",total)

Physical states of matter:
solid is state of matter
liquid is state of matter
gas is state of matter
plasma is state of matter

Birds list before:
 ['turkey', 'hawk', 'chicken', 'dove', 'crow']
Birds list after:
 ['turkey', 'hawk', 'dove']

Occurence of 1: 4 times
Occurence of 2: 8 times
Occurence of 3: 3 times
Total points in basket: 29

# Task 2
### iteration with range(start) & range(start,stop)

In [103]:
# [ ] using range() print "hello" 4 times
for x in range(4):
    print("hello")

spell_list = ["Tuesday", "Wednesday", "February", "November", "Annual", "Calendar", "Solstice"]

# [ ] find spell_list length
length = len(spell_list)
print("\nLength of spell_list:",length)
# [ ] use range() to iterate each half of spell_list
first_half = []
second_half = []
for x in range(int(len(spell_list)/2)):
    first_half.append(spell_list[x])

for y in range(int(len(spell_list)/2),len(spell_list)):
    second_half.append(spell_list[y])

# [ ] label & print the first and second halves
print("First Half:",first_half)
print("Second half:",second_half)

twenties = []

# [ ] build a list of numbers from 20 to 29: twenties 
numbers = [20,21,22,23,24,25,26,27,28,29]

# append each number to twenties list using range(start,stop) iteration
for number in range(0,len(numbers)):
    twenties.append(numbers[number])

# [ ] print twenties
print(twenties)

# [ ] iterate through the numbers populated in the list twenties and add each number to a variable: total
total = 0
for x in twenties:
    total += x
    
# [ ] print total
print("Total:",total)

# check your answer above using range(start,stop)
# [ ] iterate each number from 20 to 29 using range()
# [ ] add each number to a variable (total) to calculate the sum
total = 0
for x in range(0,len(twenties)):
    total += twenties[x]
# should match earlier task 
print("total",total)

hello
hello
hello
hello

Length of spell_list: 7
First Half: ['Tuesday', 'Wednesday', 'February']
Second half: ['November', 'Annual', 'Calendar', 'Solstice']
[20, 21, 22, 23, 24, 25, 26, 27, 28, 29]
Total: 245
total 245

# Task 3
### iteration with range(start:stop:skip)

In [14]:
# [ ] create a list of odd numbers (odd_nums) from 1 to 25 using range(start,stop,skip)
odd_nums = []
for x in range(1,26,2):
    odd_nums.append(x)

# [ ] print odd_nums
print("Odd numbers in ascending order:",odd_nums)

# hint: odd numbers are 2 digits apart
# [ ] create a Decending list of odd numbers (odd_nums) from 25 to 1 using range(start,stop,skip)
odd_nums = []
for x in range(25,0,-2):
    odd_nums.append(x)

# [ ] print odd_nums,  output should resemble [25, 23, ...]
print("\nOdd numbers in descending order:",odd_nums)

# the list, elements, contains the names of the first 20 elements in atomic number order
# [ ] print the even number elements "2 - Helium, 4 - Beryllium,.." in the list with the atomic number
elements = ['Hydrogen', 'Helium', 'Lithium', 'Beryllium', 'Boron', 'Carbon', 'Nitrogen', 'Oxygen', 'Fluorine', \
 'Neon', 'Sodium', 'Magnesium', 'Aluminum', 'Silicon', 'Phosphorus', 'Sulfur', 'Chlorine', 'Argon', \
 'Potassium', 'Calcium']
print("\nEven position elements:")
for x in range(1,len(elements),2):
    print(x+1,"-",elements[x])


# [ ] the list, elements_40, contains the names of the first 40 elements in atomic number order
# [ ] print the odd number elements "1 - Hydrogen, 3 - Lithium,.." in the list with the atomic number elements_40
elements_40 = ['Hydrogen', \
 'Helium', 'Lithium', 'Beryllium', 'Boron', 'Carbon', 'Nitrogen', 'Oxygen', 'Fluorine', \
 'Neon', 'Sodium', 'Magnesium', 'Aluminum', 'Silicon', 'Phosphorus', 'Sulfur', 'Chlorine', \
 'Argon', 'Potassium', 'Calcium', 'Scandium', 'Titanium', 'Vanadium', 'Chromium', 'Manganese', \
 'Iron', 'Cobalt', 'Nickel', 'Copper', 'Zinc', 'Gallium', 'Germanium', 'Arsenic', 'Selenium', \
 'Bromine', 'Krypton', 'Rubidium', 'Strontium', 'Yttrium', 'Zirconium']
print("\nOdd position integers:")
for y in range(0,len(elements_40),2):
    print(y+1,"-",elements_40[y])

Odd numbers in ascending order: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25]

Odd numbers in descending order: [25, 23, 21, 19, 17, 15, 13, 11, 9, 7, 5, 3, 1]

Even position elements:
2 - Helium
4 - Beryllium
6 - Carbon
8 - Oxygen
10 - Neon
12 - Magnesium
14 - Silicon
16 - Sulfur
18 - Argon
20 - Calcium

Odd position integers:
1 - Hydrogen
3 - Lithium
5 - Boron
7 - Nitrogen
9 - Fluorine
11 - Sodium
13 - Aluminum
15 - Phosphorus
17 - Chlorine
19 - Potassium
21 - Scandium
23 - Vanadium
25 - Manganese
27 - Cobalt
29 - Copper
31 - Gallium
33 - Arsenic
35 - Bromine
37 - Rubidium
39 - Yttrium

# Task 4
### combine lists with + and .extend()

In [19]:
# [ ] print the combined lists (numbers_1 & numbers_2) using "+" operator
numbers_1 = [20, 21, 22, 23, 24, 25, 26, 27, 28, 29]

# pythonic casting of a range into a list
numbers_2 = list(range(30,50,2))

print("numbers_1:",numbers_1)
print("numbers_2",numbers_2)

print(numbers_1 + numbers_2)
# [ ] print the combined element lists (first_row & second_row) using ".extend()" method
first_row = ['Hydrogen', 'Helium']
second_row = ['Lithium', 'Beryllium', 'Boron', 'Carbon', 'Nitrogen', 'Oxygen', 'Fluorine', 'Neon']

print("1st Row:", first_row)
print("2nd Row:", second_row)
first_row.extend(second_row)
print(first_row)

numbers_1: [20, 21, 22, 23, 24, 25, 26, 27, 28, 29]
numbers_2 [30, 32, 34, 36, 38, 40, 42, 44, 46, 48]
[20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]
1st Row: ['Hydrogen', 'Helium']
2nd Row: ['Lithium', 'Beryllium', 'Boron', 'Carbon', 'Nitrogen', 'Oxygen', 'Fluorine', 'Neon']
['Hydrogen', 'Helium', 'Lithium', 'Beryllium', 'Boron', 'Carbon', 'Nitrogen', 'Oxygen', 'Fluorine', 'Neon']

# Project: Combine 3 element rows
### Choose to use "+" or ".extend()" to build output similar to
```
The 1st three rows of the Period Table of Elements contain:
['Hydrogen', 'Helium', 'Lithium', 'Beryllium', 'Boron', 'Carbon', 'Nitrogen', 'Oxygen', 'Fluorine', 'Neon', 'Sodium', 'Magnesium', 'Aluminum', 'Silicon', 'Phosphorus', 'Sulfur', 'Chlorine', 'Argon']

The row breakdown is
Row 1: Hydrogen, Helium
Row 2: Lithium, Beryllium, Boron, Carbon, Nitrogen, Oxygen, Fluorine, Neon
Row 3: Sodium, Magnesium, Aluminum, Silicon, Phosphorus, Sulfur, Chlorine, Argon
```

In [23]:
# [ ] create the program: combined 3 element rows 

elem_1 = ['Hydrogen', 'Helium'] 
elem_2 = ['Lithium', 'Beryllium', 'Boron', 'Carbon', 'Nitrogen', 'Oxygen', 'Fluorine', 'Neon']
elem_3 = ['Sodium', 'Magnesium', 'Aluminum', 'Silicon', 'Phosphorus', 'Sulfur', 'Chlorine', 'Argon']

elements = elem_1 + elem_2 + elem_3
print("Elements:\n",elements)
# [ ] .extend() jack_jill with "next_line" string - print the result
jack_jill = ['Jack', 'and', 'Jill', 'went', 'up', 'the', 'hill']
next_line = ['To', 'fetch', 'a', 'pail', 'of', 'water']
jack_jill.extend(next_line)
print("Joined List:\n",jack_jill)

Elements:
 ['Hydrogen', 'Helium', 'Lithium', 'Beryllium', 'Boron', 'Carbon', 'Nitrogen', 'Oxygen', 'Fluorine', 'Neon', 'Sodium', 'Magnesium', 'Aluminum', 'Silicon', 'Phosphorus', 'Sulfur', 'Chlorine', 'Argon']
Joined List:
 ['Jack', 'and', 'Jill', 'went', 'up', 'the', 'hill', 'To', 'fetch', 'a', 'pail', 'of', 'water']

# Task 5
### .reverse() : reverse a list in place

In [28]:
# [ ] use .reverse() to print elements starting with "Calcium", "Chlorine",... in reverse order
elements = ['Hydrogen', 'Helium', 'Lithium', 'Beryllium', 'Boron', 'Carbon', 'Nitrogen', 'Oxygen', 'Fluorine', \
 'Neon', 'Sodium', 'Magnesium', 'Aluminum', 'Silicon', 'Phosphorus', 'Sulfur', 'Chlorine', 'Argon', \
 'Potassium', 'Calcium']
elements.reverse()
print(elements)

# [ ] reverse order of the list... Then print only words that are 8 characters or longer from the now reversed order
spell_list = ["Tuesday", "Wednesday", "February", "November", "Annual", "Calendar", "Solstice"]
print("Original List:\n",spell_list)
spell_list.reverse()
print("Reversed List:\n",spell_list,"\n")
for x in spell_list:
    if len(x) >= 8:
        print(x)

['Calcium', 'Potassium', 'Argon', 'Chlorine', 'Sulfur', 'Phosphorus', 'Silicon', 'Aluminum', 'Magnesium', 'Sodium', 'Neon', 'Fluorine', 'Oxygen', 'Nitrogen', 'Carbon', 'Boron', 'Beryllium', 'Lithium', 'Helium', 'Hydrogen']
Original List:
 ['Tuesday', 'Wednesday', 'February', 'November', 'Annual', 'Calendar', 'Solstice']
Reversed List:
 ['Solstice', 'Calendar', 'Annual', 'November', 'February', 'Wednesday', 'Tuesday']

Solstice
Calendar
November
February
Wednesday

# Task 6
### .sort() and sorted()

In [30]:
# [ ] sort the list element, so names are in alphabetical order and print elements
elements = ['Hydrogen', 'Helium', 'Lithium', 'Beryllium', 'Boron', 'Carbon', 'Nitrogen', 'Oxygen', 'Fluorine', \
 'Neon', 'Sodium', 'Magnesium', 'Aluminum', 'Silicon', 'Phosphorus', 'Sulfur', 'Chlorine', 'Argon', \
 'Potassium', 'Calcium']
print(sorted(elements))

# [ ] print the list, numbers, sorted and then below print the original numbers list 
numbers = [2,2,2,1,2,1,3,3,1,2,2,2,2,1,3]
print("sorted list:",sorted(numbers))
print("original list:",numbers)

['Aluminum', 'Argon', 'Beryllium', 'Boron', 'Calcium', 'Carbon', 'Chlorine', 'Fluorine', 'Helium', 'Hydrogen', 'Lithium', 'Magnesium', 'Neon', 'Nitrogen', 'Oxygen', 'Phosphorus', 'Potassium', 'Silicon', 'Sodium', 'Sulfur']
sorted list: [1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3]
original list: [2, 2, 2, 1, 2, 1, 3, 3, 1, 2, 2, 2, 2, 1, 3]

# Task 7
### Converting a string to a list with .split()

In [38]:
daily_fact = "Did you know that there are 1.4 billion students in the world?"
# [ ] split the string, daily_fact, into a list of word strings: fact_words
fact_words = daily_fact.split()
print("String to List\n",fact_words)

# [ ] print each string in fact_words in upper case on it's own line
for x in fact_words:
    print(x.upper(),end=" ")
    
# [ ] split poem on "b" to create a list: poem_words
# [ ] print poem_words by iterating the list
poem = "The bright brain, has bran!"
poem_words = poem.split()
print()
for x in poem_words:
    print(x)

String to List
 ['Did', 'you', 'know', 'that', 'there', 'are', '1.4', 'billion', 'students', 'in', 'the', 'world?']
DID YOU KNOW THAT THERE ARE 1.4 BILLION STUDENTS IN THE WORLD?
The
bright
brain,
has
bran!

# Task 8
### .join()
#### build a string from a list

In [52]:
# [ ] print a comma separated string output from the list of Halogen elements using ".join()"
halogens = ['Chlorine', 'Florine', 'Bromine', 'Iodine']
print(",".join(halogens))

# [ ] split the sentence, code_tip, into a words list
code_tip ="Read code aloud or explain the code step by step to a peer"
code_words = code_tip.split()
print(code_words)

# [ ] print the joined words in the list with no spaces in-between
print("".join(code_words))

# [ ] Bonus: capitalize each word in the list before .join()
for x in code_words:
    x=x.upper()
    print("".join(x),end="")

Chlorine,Florine,Bromine,Iodine
['Read', 'code', 'aloud', 'or', 'explain', 'the', 'code', 'step', 'by', 'step', 'to', 'a', 'peer']
Readcodealoudorexplainthecodestepbysteptoapeer
READCODEALOUDOREXPLAINTHECODESTEPBYSTEPTOAPEER

# Task 8
### list(string) & print("hello",end=' ')
- Cast a string to a list
- print to the same line

In [67]:
# [ ] cast the long_word into individual letters list 
# [ ] print each letter on a line
long_word = 'decelerating'
letters = list(long_word)
print(letters)

# [ ] use use end= in print to output each string in questions with a "?" and on new lines
questions = ["What's the closest planet to the Sun", "How deep do Dolphins swim", "What time is it"]
for x in questions:
    print(x,end="?\n")

# [ ] print each item in foot bones 
#    - capitalized, both words if two word name
#    - separated by a comma and space
#    - and keeping on a single print line
foot_bones = ["calcaneus", "talus", "cuboid", "navicular", "lateral cuneiform", 
            "intermediate cuneiform", "medial cuneiform"]

for x in foot_bones:
    if " " in x:
        if foot_bones[-1] != x:
            x = x.title()
            print(x,end=", ")
        else:
            x = x.title()
            print(x,end="")
    else:
        if foot_bones[-1] != x:
            x = x
            print(x,end=", ")
        else:
            print(x,end="")

['d', 'e', 'c', 'e', 'l', 'e', 'r', 'a', 't', 'i', 'n', 'g']
What's the closest planet to the Sun?
How deep do Dolphins swim?
What time is it?
calcaneus, talus, cuboid, navicular, Lateral Cuneiform, Intermediate Cuneiform, Medial Cuneiform

#  Module 3 Required Coding Activity  
Introduction to Python (Unit 2) Fundamentals  

**This Activity is intended to be completed in the jupyter notebook, Required_Code_MOD3_IntroPy.ipynb, and then pasted into the assessment page that follows.**   
 
All course .ipynb Jupyter Notebooks are available from the project files download topic in Module 1, Section 1.

This is an activity from the Jupyter Notebook **`Practice_MOD03_IntroPy.ipynb`** which you may have already completed.

|  Assignment Requirements |  
|:-------------------------------|  
| **NOTE:** This program requires **`print`** output and using code syntax used in module 3: **`if`**, **`input`**, **`def`**, **`return`**, **`for`**/**`in`** keywords, **`.lower()`** and **`.upper()`** method, **`.append`**, **`.pop`**, **`.split`** methods, **`range`** and **`len`** functions  |  

## Program: poem mixer  
This program takes string input and then prints out a mixed order version of the string    


**Program Parts**  
- **program flow** gathers the word list, modifies the case and order, and prints      
  - get string input, input like a poem, verse or saying 
  - split the string into a list of individual words  
  - determine the length of the list
  - Loop the length of the list by index number and for each list index:  
    - if a word is short (3 letters or less) make the word in the list lowercase 
    - if a word is long (7 letters or more) make the word in the list uppercase   
  - **call the word_mixer** function with the modified list  
  - print the return value from the word_mixer function  

- **word_mixer** Function has 1 argument: an original list of string words, containing greater than 5 words and the function returns a new list.   
  - sort the original list  
  - create a new list  
  - Loop while the list is longer than 5 words:  
    - *in each loop pop a word from the sorted original list and append to the new list*  
    - pop the word 5th from the end of the list and append to the new list  
    - pop the first word in the list and append to the new list  
    - pop the last word in the list and append to the new list  
  - **return** the new list on exiting the loop



![TODO: upload image to blob](https://qitcyg-ch3302.files.1drv.com/y4mtK8FJlu7bvNCw_NFrJNnMEX05-bGQKZ-ljIB7ofo8jg14zZKLdYrjXQfPcL1PnNKqaBc_v85pd-47J8BBRN3Eg5LXSmxbhZG99zHmQwVTSQBd6n3S1IXgcG0lqjA8PGW1NVMQyPtX-_m_sGry5j1iCJzjiZmUrFmGckPrEYxvjPIHHelgxQ4oVYG32S32otj0cdV8f9aDv3cnvb9AvDKqg?width=727&height=586&cropmode=none)


 **input example**  *(beginning of William Blake poem, "The Fly")*

 >enter a saying or poem: `Little fly, Thy summer’s play My thoughtless hand Has brushed away. Am not I A fly like thee? Or art not thou A man like me?`  


**output example**   
>`or BRUSHED thy not Little thou me? SUMMER’S thee? like THOUGHTLESS play i a not hand a my fly am man`


**alternative output** in each loop in the function that creates the new list add a "\\n" to the list   
```
 or BRUSHED thy 
 not Little thou 
 me? SUMMER’S thee? 
 like THOUGHTLESS play 
 i a not 
 hand a my 
 fly am man
```

In [30]:
# word_mixer Function has 1 argument: an original list of string words, containing greater than 5 words and the function returns a new list.
def word_mixer(words_list):
    # sort the original list
    words_list.sort()
    # create a new list
    new_list = []
    # Loop while the list is longer than 5 words:
    while len(words_list) > 5:
        # pop the word 5th from the end of the list and append to the new list
        new_list.append(words_list.pop(-5))
        # pop the first word in the list and append to the new list
        new_list.append(words_list.pop(0))
        # pop the last word in the list and append to the new list
        new_list.append(words_list.pop())
        # return the new list on exiting the loop
    return new_list



# program flow gathers the word list, modifies the case and order, and prints
# get string input, input like a poem, verse or saying
saying = input("Enter a poem, verse or saying: ")

# split the string into a list of individual words
words_list = saying.split()

# determine the length of the list
length = len(words_list)

# Loop the length of the list by index number and for each list index:
# if a word is short (3 letters or less) make the word in the list lowercase
# if a word is long (7 letters or more) make the word in the list uppercase
for x in range(length):
    if len(words_list[x]) <= 3:
        words_list[x] = words_list[x].lower()
    elif len(words_list[x]) >= 7:
        words_list[x] = words_list[x].upper()
    else:
        words_list[x] = words_list[x]      

# call the word_mixer function with the modified list
result = word_mixer(words_list)

# print the return value from the word_mixer function
for x in result:
    print(x,end=" ")

Enter a poem, verse or saying: Little fly, Thy summer’s play My thoughtless hand Has brushed away. Am not I A fly like thee? Or art not thou A man like me?
or BRUSHED thy not Little thou me? SUMMER’S thee? like THOUGHTLESS play i a not hand a my fly am man